*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
 
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
div {
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 1.5rem 7rem;
}
p {
  text-align: center;
  color: rgb(151, 246, 8);
  text-shadow: 2px 3px 5px #ccc;
  font-size: 50px;
  font-family: monospace;
}
span {
  color: #fff;
}

@media (max-width: 600px) {
  div {
    padding: 1.5rem 3rem;
  }

  p {
    font-size: 30px;
  }
}
@media (max-width: 320px) {
  div {
    padding: 10px;
  }
}
